.containerTareasCard{
    background-color: var(--color-fondo);
    border-radius: 8px;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.208);
}
.textTareasCard {
    display: flex;
}
.titleTareasCard{
    margin-right: 12px;
}
.buttonsTareasCard {
    display: flex;
    gap: 8px;
    align-items: center; 
}

.buttonsTareasCard button {
    padding: 4px;
    background-color: var(--color-violeta);
    color: white;
    border: none;
    border-radius: 4px;
}
.buttonsTareasCard button:hover {
    cursor: pointer;
}
.buttonsTareasCard button:last-child {
    background-color: rgb(232, 8, 8);
}
.buttonsTareasCard button:first-child {
    padding: 10px;
    background-color: gray;
    border-radius: 8px;
}

.buttonCardGris{
    cursor: pointer;
    padding: 8px;
    background-color: gray;
    color: white;
    border-radius: 8px;
}
