.containerPrincipalSprint {
    width: 80%;
    height: 92vh;
    margin-top: 8vh;
    display: flex;
    justify-content: center;
}
.conteinerContentSprint {
    width: 72vw;
    margin: 4vh;
}
.titleContentSprint {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.containerColumnaTareas{
    display: flex;
    justify-content: space-between;
}
.columnaTareas {
    width: 31%;
    height: 78vh;
    background-color: var(--color-fondo-secundario);
    border-radius: 1rem;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
}
.tituloColumna {
    color: white;
    text-align: center;
    margin-bottom: 1rem;
}