.conteinerHeader {
    position: fixed; /* Mantiene el header arriba */
    top: 0;
    left: 0;
    width: 100%; /* Asegura que cubra todo el ancho */
    height: 8vh;
    background-color: var(--color-violeta);
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerTitleHeader {
    margin: 0 auto;
}
.titleHeader {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}