.containerPrincipalBacklog{
    width: 80%;
    height: 92vh;
    margin-top: 8vh;
    display: flex;
    background-color: white;
    border-left: var(--color-fondo) 1vw solid;
    flex-direction: column;
    align-items: center;
}
.conteinerContentBacklog{
    width: 72vw;
    margin-top: 4vh;
}
.titlesContainerBacklog{
    margin-bottom: 3vh;
    font-size: larger;
}
.containerTareasBacklog {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 4vh;
}
.titlesContainerBacklog h2 {
    margin-bottom: 12px;
}

.buttonAddTareasBacklog{
    padding: 4px;
    border: none;
    border-radius: 50%;
    background-color: var(--color-violeta);
    color: rgba(190, 115, 213, 0.871);
}